<div class="card m-auto indexCard">
    <div class="card-header">
        {{contentTitle}}
    </div>
    <div class="card-body text-center">
        {{contentBody}}
        <br />
        <small><a href="{{redirectUri}}">Click here if you are not automatically redirected</a></small>
    </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript">
    $(document).ready(() => {
        setTimeout(() => {
            window.location="{{redirectUri}}";
        }, {{redirectDelay}})
    });
</script>
{{/extend}}